<div id="nav"></div>
<div id="content"></div>

<script type="text/javascript">$(ShouldReads.initialize);</script>


<script>
  $(document).ready( function () {
      debugger;
    $(".guest-button").on("click", function(event) {
      event.preventDefault();
      console.log("Here");
    });
  });

</script>
