<div class="show-image col-5 col-md-2">
  <img
    alt="Book Cover"
    height="195"
    src="{{= book.escape('cover_image_url') }}"
    width="128"
  >
</div>
<div class="show-info col-7 col-md-10">
  <h2 class ="show-title">{{= book.escape('title') }}</h2>
  <h4 class ="show-author">by {{= book.escape('author') }}</h4>
  <h4 class ="show-pages">
    {{= book.escape('number_of_pages') }} Pages
  </h4>
  <h4 class ="show-rating">
    Avg Rating: {{= book.escape('average_rating') }} of 5
  </h4>
</div>
<div class="shelf-choice col-12">
  <div class="dropdown">
    <button
      aria-expanded="false"
      aria-haspopup="true"
      class="btn btn-secondary dropdown-toggle"
      data-toggle="dropdown"
      id="dropdownMenu2"
      type="button"
    >
      Bookshelves
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      {{ bookShelves.each(function (bookShelf) { }}
        {{ if (bookShelf.escape('title') !== "All") { }}
          <button
            class="dropdown-item"
            data-id="{{= bookShelf.id }}"
            type="button"
          >
            {{= bookShelf.escape('title') }}
          </button>
        {{ } }}
      {{ }) }}
    </div>
  </div>
  <div class="alert" />
</div>
<div class="write-review col-12">
  {{ if (book.escape('already_reviewed?') === "false") { }}
    <button 
      class="btn btn-primary btn-sm add-review"
      name="button"
      type="button"
    >
      Write Review
    </button>
  {{ } }}
</div>
<div class="synopsis col-12">
  <h3>Synopsis</h3>
  <p class="synopsis-text">{{= book.escape('synopsis') }}</p>
</div>
