<div class="feed-items">
  <h2 class="newsfeed-header">Newsfeed</h2>
</div>

<ol id="joyRideTipContent">
  <li>
    <h3>Welcome!</h3>
    <p>
      Welcome to the ShouldReads Newsfeed.  Come here to see what
      others are saying about books.
    </p>
  </li>
  <li data-id="username"
      data-options="tipLocation: left; nubPosition: right">
    <h3>Newsfeed</h3>
    <p>
      Click on the link with your username to return to the Newsfeed at
      any time.
    </p>
  </li>
  <li data-id="shelves"
      data-options="tipLocation: left; nubPosition: right">
    <h3>My Books</h3>
    <p>Click on My Books to manage your bookshelves.</p>
  </li>
  <li data-class="search-request" data-options="nubPosition: top;">
    <h3>Search</h3>
    <p>
      Use the Search to find new books to review and add to your
      bookshelves.  A seemingly endless supply of books is available
      courtesy of Google Books.
    </p>
  </li>
</ol>
