<div class="feed-items col-12">
  <h2 class="newsfeed-header row">Newsfeed</h2>
</div>
<ol id="joyRideTipContent">
  <li>
    <h3>Welcome!</h3>
    <p>
      Welcome to the ShouldReads Newsfeed.  Come here to see what
      others are saying about books.
    </p>
  </li>
  <li
    data-class="home"
    data-options="tipLocation: bottom; nubPosition: top"
  >
    <h3>Newsfeed</h3>
    <p>
      Click on the link with your username to return to the Newsfeed at
      any time.
    </p>
  </li>
  <li
    data-class="shelves"
    data-options="tipLocation: bottom; nubPosition: top"
  >
    <h3>My Books</h3>
    <p>Click on My Books to manage your bookshelves.</p>
  </li>
  <li
    data-class="search-request"
    data-options="tipLocation: bottom; nubPosition: top;"
  >
    <h3>Search</h3>
    <p>
      Use the Search to find new books to review and add to your
      bookshelves.  A seemingly endless supply of books is available
      courtesy of Google Books.  Search by book title or author name.
    </p>
  </li>
</ol>
