<div class="col-12">
  <div class="feed-review-header row">
    <h4 class="col-12">{{= review.escape('username') }} reviewed</h4>
  </div>
  <div class="row">
    <div class="col-3 col-sm-2">
      <div class="feed-book-image">
        <a href="#/books/{{= review.escape('book_id') }}">
          <img
            alt="Book Cover"
            height="97"
            src="{{= review.escape('cover_image_url') }}"
            width="64"
          >
        </a>
      </div>
    </div>
    <div class="col-9 col-sm-5">
      <h4>
        <a href="#/books/{{= review.escape('book_id') }}">
          {{= review.escape('book_title') }}
        </a>
      </h4>
      <h4>by {{= review.escape('author') }}</h4>
    </div>
    <div class="col-12 col-sm-5">
      <h4 class="feed-review-rating">
        Rating:
        <span style="font-weight:normal">
          {{= review.escape('rating') }} of 5
        </span>
      </h4>
      <h4 class="feed-review-title">{{= review.escape('title') }}</h4>
      <p class="feed-review-body">{{= review.escape('body') }}</p>
    </div>
  </div>
  <div class="row">
    <h5 class="col-12">{{= new Date(review.escape('updated_at')).toDateString() }}</h5>
  </div>
</div>
