<h4>Bookshelves</h3>

<ul class="clear">
  {{ bookShelves.each(function(bookShelf) { }}
    <li class="shelf" data-id="{{= bookShelf.id }}">
      <h4 class="shelf-title">{{= bookShelf.escape('title') }}</h4>
    </li>
    {{ if (bookShelf.escape('title') !== "All") { }}
      <a data-id="{{= bookShelf.id }}"
         class="btn btn-danger btn-xs shelf-delete">&times;</a>
    {{ } }}
  {{ }) }}
</ul>
<div class="form-group add-shelf">
  <form>
    <input class="form-control"
           type="text"
           name="book_shelf[title]"
           placeholder="Create Bookshelf"
           maxlength="20">
    <br>
    <input type="submit"
           class="new-shelf btn btn-primary btn-xs"
           value="Add Shelf">
  </form>
</div>
