<h3>Bookshelves</h3>

<ul>
  <% bookShelves.each(function(bookShelf) { %>
    <li class="book-title" data-id="<%= bookShelf.id %>"><h4><%= bookShelf.escape('title') %></h4></li>
  <% }) %>
</ul>
<form class="">
  <input type="text" name="book_shelf[title]" placeholder="My New Bookshelf">
  <br>
  <input type="submit" class="new-shelf" value="Add Shelf">
</form>
