<h3>Bookshelves</h3>

<ul>
  <% bookShelves.each(function(bookShelf) { %>
    <li class="book-title" data-id="<%= bookShelf.id %>"><%= bookShelf.escape('title') %></li>
  <% }) %>
</ul>

<input type="text" name="book_shelf[title]" value="New Bookshelf Title">

<br>
<button class="add-book">Add Bookshelf</button>
