<div class="library-header-container clear">
  <h2 class="library-header">My Books</h2>
  <h2 class="shelf-title-header">: All</h2>
</div>
<div class="shelf-index"></div>
<div class="shelf-books"></div>
