<div class="m-content">
  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="m-review-title">Review <%= book.escape('title') %></h3>
  <form>
    <label for="review_rating">Rating</label>
      <input id="review-rating"
             type="number"
             class="rating"
             name="review[rating]"
             min=1
             max=5
             step=1
             data-size="sm" >


    <label for="review-title">Title</label>
    <div class="form-group">
      <input class="form-control"
             id="review-title"
             type="text"
             name="review[title]"
             value="<%= review.escape('title') %>">
    </div>

    <label for="review-body">Review</label>
    <div class="form-group">
      <textarea class="form-control"
                id="review-body"
                name="review[body]"
                rows="8"
                cols="40"><%= review.escape('body') %></textarea>
    </div>

    <button type="submit" class="btn btn-submit submit-review">Add Review</button>
  </form>
</div>

<script type="text/javascript">
  $('#review-rating').rating();
</script>
