<div class="m-content well">
  <button aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <form class="form-horizontal">
    <legend class="form-group">
      Review {{= book.escape('title') }}
    </legend>
    <div class="form-group">
      <div id="rateYo" />
    </div>
    <div class="form-group">
      <label for="review-title">Title</label>
      <input
        class="form-control"
        id="review-title"
        name="review[title]"
        type="text"
        value="{{= review.escape('title') }}"
      >
    </div>
    <div class="form-group">
      <label for="review-body">Review</label>
      <textarea
        class="form-control"
        cols="40"
        id="review-body"
        name="review[body]"
        rows="8"
      >
        {{= review.escape('body') }}
      </textarea>
    </div>
    <button
      class="btn btn-primary submit-review form-group"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>
