<h2 class="reviews-header">Reviews:</h2>
<h4>Average Rating:</h4>

<% reviews.each(function(review) { %>
<div class="review-content">
  <div class="review-header">
    <h4 class="review-title">Title: <%= review.escape('title') %></h4>
    <h4 class="review-author">Author: Sample Name</h4>
  </div>
    <p class="review-body"><%= review.escape('body') %></p>
</div>
<% }) %>
