<div class="background">
  <div class="sign-in container">
    <%= render "shared/form", action: :users_new %>
    <div class="row">
      <div class="form-group">
        <div class="">
          <%= link_to "Already Registered? Log In!",
            new_session_url, { method: :get, class: "log-in-link" } %>
        </div>
      </div>
    </div>
  </div>
</div>
