<% action_url = (action == :session_new) ? session_url : users_url %>
<!-- Probably don't need this conditional anymore -->
<% button_text = (action == :session_new) ? "Log In" : "Sign Up" %>

<div class="">
  <%= flash_errors %>
</div>

<div class="row">
  <div class="">
    <h1 class="sign-in-title">ShouldReads</h1>
  </div>
</div>

<form class="form-horizontal log-in-form"
      action="<%= action_url %>"
      method="post">
  <%= auth_token_input %>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-1">
      <input
        type="text"
        class="form-control"
        id="inputUsername"
        placeholder="Username"
        name="user[username]">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-1">
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        placeholder="Password"
        name="user[password]">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-1">
      <% if button_text == "Log In" %>
        <button
          type="submit"
          class="btn btn-primary btn-md btn-block log-in-button">
            Log In
        </button>
        <button
          type="submit"
          class="btn btn-primary btn-md btn-block guest-button">
            Guest Log In
        </button>
      <% else %>
        <button
          type="submit"
          class="btn btn-primary btn-md btn-block sign-up-button">
            Sign Up
        </button>
      <% end %>
    </div>
  </div>
</form>

<script>
  $(".guest-button").on("click", function(event) {
    event.preventDefault();
    console.log("Here");
    $("#inputUsername").val("guest");
    $("#inputPassword").val("password");
    $(".log-in-form").submit();
  });
</script>
