<div class="col-12"><h4>Bookshelves</h4></div>
<ul class="col-12">
  {{ bookShelves.each(function(bookShelf) { }}
    <li class="shelf row" data-id="{{= bookShelf.id }}">
      <span class="shelf-title col-10 col-md-9">{{= bookShelf.escape('title') }}</span>
      {{ if (bookShelf.escape('title') !== "All") { }}
      <div class="col-2 col-md-3">
        <button
          class="btn btn-danger btn-sm shelf-delete"
          data-id="{{= bookShelf.id }}"
        >
          <span>x</span>
        </button>
      </div>
      {{ } }}
    </li>
  {{ }) }}
</ul>
<div class="form-group add-shelf col-12">
  <form>
    <input
      class="form-control"
      maxlength="20"
      name="book_shelf[title]"
      placeholder="Create Bookshelf"
      type="text"
    >
    <br>
    <input
      class="new-shelf btn btn-primary btn-sm"
      type="submit"
      value="Add Shelf"
    >
  </form>
</div>
<div class="shelf-validation" />
