<h4>Bookshelves</h3>
<ul class="clear">
  {{ bookShelves.each(function(bookShelf) { }}
    <li class="shelf" data-id="{{= bookShelf.id }}">
      <span class="shelf-title">{{= bookShelf.escape('title') }}</span>
    </li>
    {{ if (bookShelf.escape('title') !== "All") { }}
      <a
        data-id="{{= bookShelf.id }}"
        class="btn btn-danger btn-sm shelf-delete"
      >
        x
      </a>
    {{ } }}
  {{ }) }}
</ul>
<div class="form-group add-shelf">
  <form>
    <input
      class="form-control"
      maxlength="20"
      name="book_shelf[title]"
      placeholder="Create Bookshelf"
      type="text"
    >
    <br>
    <input
      class="new-shelf btn btn-primary btn-sm"
      type="submit"
      value="Add Shelf"
    >
  </form>
</div>
<div class="shelf-validation" />
