<div class="library-header-container col-12">
  <h2 class="library-header">My Books</h2>
  <h2 class="shelf-title-header">: All</h2>
</div>
<div class="shelf-index col-12 col-md-3" />
<div class="shelf-books col-12 col-md-9" />
