/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require joyride-2.1
 *= require jquery.rateyo.min
 *= require_self
 *= require book_show
 *= require library
 *= require newsfeed
 *= require search_results
 *= require modal_search
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2.6rem;
  font-weight: bold;
}

/* Clear default styles for lists */
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/* Clear fix */
.clear:after {
  content: "";
  clear: both;
  display: table;
}

.content {
  width: 100%;
}

/* Body scroll hack */
body.scroll {
  overflow-y: scroll;
}

/* Log in and sign in form */
.background {
  background-image: image-url('large_library.jpg');
  width: 100%;
  height: 100vh;
}

.log-in-link {
  font-family: "Raleway";
}

.sign-in {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.91);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 20px 40px;
  position: relative;
  top: 24%;
  text-align: center;
  .log-in-form {
    width: 100%;
  }
}

/* Navbar */
.navbar {
  background-color: #4582EC;
  border: none;
  border-radius: 0px;
  .search-icon {
    background-image: image-url('search-icon.png');
    height: 20px;
    padding: 7px 0;
    width: 20px;
  }
  .search-request:hover {
    cursor: pointer;
  }
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  cursor: pointer;
}

/* Custom styles for Joyride plugin */
.joyride-tip-guide {
  z-index: 1050;
}

/* Modal styles */

.m-content .close {
  color: black;
  background-color: inherit;
  position: relative;
  left: 35px;
}

.close:hover {
  color: #4582EC;
  background-color: inherit;
}

.m-backdrop {
  position: fixed;
  background-color: rgba(170, 169, 176, .5);
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 100;
  height: 100vh;
  width: inherit;
}

.m-content {
  background-color: white;
  border: 2px solid black;
  height: inherit;
  left: 0;
  margin: 50px auto 0 auto;
  max-height: 80%;
  max-width: 600px;
  overflow-y: auto;
  padding: 20px 60px;
  position: fixed;
  right: 0;
  top: 50px;
  z-index: 200;
}

.m-review-title {
  text-align: center;
}
