/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


 /* Clear default styles for lists */
 ul {
   margin: 0px;
   padding: 0px;
   list-style-type: none;
 }

/* Clear fix, don't need this yet */
.clear:after {
  content: "";
  clear: both;
  display: table;
 }

/* Global styles */


/* Log in and sign in form */
 div.form-container {
   position: absolute;
   top: 50%;
   text-align: center;
 }

 /* Libarary composite view */

 .book-title {
   display: block;
   float: left;
   width: 100%;

 }

 .library-content {
  //  width:auto;
  margin-left: auto;
  margin-right: auto;
 }

 .new-shelf {
   margin-bottom: 10px;
 }

 .shelf-index {
   display: block;
   float: left;
   width: 20%;
   margin-left: 50px;
   border-right: 2px solid black;
   height: 100vh;
 }

 .shelf-books {
   display: block;
   float: left;
   margin-left: 20px;
 }

 .shelf-book-info {
   display: block;
   float: left;
   margin-left: 20px;
   margin-top: 36px;
 }

 .shelf-book-info-container {
   margin-bottom: 15px;
   border-bottom: 1px solid black;
   padding-bottom: 15px; }

 .shelf-image {
   display: block;
   float: left;
 }


/* Book index page */
 .book-index {
   margin-left: auto;
   margin-right: auto;
   width: 800px;
 }

 .index-book-info {
   display: block;
   float: left;
   height: 200px;
   width: 600px;
   margin: 10px 0px 10px 0px;
 }

 .index-image {
   display: block;
   float: left;
   margin-right: 15px;
 }

/* Book show page */
 .show-book-info {
   display: block;
   float: left;
   height: 400px;
   width: 600px;
   margin-left: 50px;
 }

 .book-show {
   display: block;
   float: left;
   height: 200px;
   width: 600px;
 }

 .show-image {
   display: block;
   float: left;
   margin-right: 15px;
 }

// These could probably all get grouped together.
 .index-title {
   display: block;
 }

 .index-author {
   display: block;
 }

 .show-title, .show-author, .show-pages {
   display: block;
 }

 .synopsis {
   display: block;
   margin-top: 10px;
   float: left;
 }
