/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootswatch/readable/variables";
 @import "bootstrap";
 @import "bootswatch/readable/bootswatch";


/* Clear default styles for lists */
ul {
 margin: 0px;
 padding: 0px;
 list-style-type: none;
}

/* Clear fix, don't need this yet */
.clear:after {
  content: "";
  clear: both;
  display: table;
}

/* Global styles */


/* Log in and sign in form */

.background {
  background-image: image-url("large_library.jpg");
  width: 100%;
  height: 100vh;
}

.sign-in {
  text-align: center;
  position: relative;
  top: 100px;
  top: 24%;
  background-color: rgba(255, 255, 255, 0.91);
  width: 400px;
  padding-bottom: 20px;
  border-radius: 7px;
}

/* Libarary composite view */
.add-shelf {
  margin-top: 20px;
}

.book-title {
  display: block;
  float: left;
  width: 100%;
}

.library-content {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.library-header {
  border-bottom: 2px solid;
}

.shelf-books {
  display: block;
  float: left;
  margin-left: 20px;
  width: 730px;
}

.shelf-books-list {
  width: inherit;
}


/* Shelf book info table */
.shelf-book-info {
  padding-bottom: 8px;
}

.shelf-book-info-container {
  width: inherit;
 }

 .shelf-book-title {
   width: 200px;
   padding-right: 5px;
 }

.shelf-delete {
  display: block;
  float: left;
}

.shelf-image {
}

.shelf-index {
 display: block;
 float: left;
 width: 20%;
 border-right: 2px solid black;
 height: 100vh;
 min-width: 200px;
 padding-right: 20px;
}

.shelf-title {
  display: block;
  float: left;
  margin: 0px;
  padding: 2px;
  width: 150px;
}

.shelf-title:hover {
  background-color: rgba(158, 144, 144, 0.16);
  cursor: pointer;
}

/* Book Show composite view */
.add-book {
  display: block;
  float: left;
}


.bg-success {
  float: left;
  display: block;
  height: 85px;
  border-radius: 4px;
  padding: 20px;
  width: inherit;
  text-align: center;
}

.book-info {
  display: block;
  float: left;
  width: inherit;
}

.book-show {
 display: block;
 float: left;
 height: 200px;
 width: 600px;
}

.book-review-content {
  width: inherit;
}

.add-review {
  display: block;
  float: left;
  margin-top: 9px;
}

.book-reviews {
 display: block;
 float: left;
 width: inherit;
 border-top: 1px solid;
}

.confirmation {
  width: 500px;
  position: absolute;
  top: 290px;
  right: 238px;
}

.delete-review {
  float: right;
  margin: 10px;
  width: 56px;
}

.edit-review {
  float: right;
  margin: 10px;
  width: 56px;
}

.review-body {
 display: block;
 float: left;
 width: 100%;
 padding-bottom: 20px;
 border-bottom: 1px solid;
}

.review-content {
  width: inherit;
  border-bottom: 1px solid;
}

.review-title-header {
  height: 50px;
  width: inherit;
}

.reviews-header {
  width: inherit;
  background-color: #4582EC;
}

.reviews-header-text {
  margin-top: 0px;
  display: block;
  float: left;
}

.review-author {
  display: block;
  float: left;
}

.review-rating {
  display: block;
  float: left;
}

.review-title {
  display: block;
  float: left;
  margin-right: 20px;
}

.shelf-choice {
  display: block;
  float: left;
  width: inherit;
}

.shelf-delete {
  display: block;
  float: right;
}

#shelf_choice {
  display: block;
  float: left;
  width: 128px;
  margin-right: 15px;
}

.show-book-info {
 display: block;
 float: left;
 width: inherit;
}

.show-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.show-image {
 display: block;
 float: left;
 width: 150px;
 height: 200px;
}

.show-info {
  display: block;
  float:left;
  width: 650px;
 height: 200px;
}

.show-rating {
  display: block;
  float: left;
  margin-top: 0px;
  width: inherit;
}

.show-title {
  display: block;
  float: left;
  margin: 0px;
  width: inherit;
  height: 77px;
  overflow: auto;
}

.show-author, .show-pages {
 display: block;
 float: left;
 margin-top: 8px;
 width: inherit;
 }

.show-pages {
  display: block;
  float: left;
  margin-top: 0px;
  width: inherit;
}

.synopsis {
 display: block;
 margin-top: 10px;
 float: left;
 width: inherit;
}

/* Modal formatting */
.m-backdrop {
  position: fixed;
  background-color: rgba(170, 169, 176, .5);
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 100;
  height: 100vh;
}

.m-content {
  z-index: 200;
  background-color: #4582EC;
  border: 2px solid black;
  border-radius: 3px;
  height: 85%;
  width: 600px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 60px 20px 60px;
  overflow: scroll;

}

.m-review-title {
  text-align: center;
}

/* Book index page */
.book-index {
 margin-left: auto;
 margin-right: auto;
 width: 800px;
}

.index-book-info {
 display: block;
 float: left;
 height: 195px;
 width: 800px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 5px;
}

.index-book-info:hover {
  background-color: rgba(158, 144, 144, 0.16);
}

.index-image {
 display: block;
 float: left;
 width: 150px
}

.index-title {
 display: block;
 float: left;
 width: 650px;
}

.index-author {
 display: block;
 float: left;
}

/* Search Results Index View */

.search-index {
 margin-left: auto;
 margin-right: auto;
 width: 800px;
}

.search-book-info {
 display: block;
 float: left;
 height: 195px;
 width: 800px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 5px;
 color: #4582EC;
}
