/* Book Show composite view */
blockquote {
  border-left: 5px solid #4582EC;
  padding: 0 22px;
}

.add-book {
  display: block;
  float: left;
}

.add-review {
  display: block;
  float: left;
  margin-top: 9px;
  width: 128px;
}

.alert {
  height: 65px;
  line-height: 38px;
  margin: 0 auto;
  text-align: center;
  width: 400px;
  z-index: 1000;
}

/* TODO: do not use this class */
.bg-success {
  border-radius: 4px;
  display: block;
  float: left;
  height: 85px;
  padding: 20px;
  text-align: center;
  width: inherit;
}

.book-info {
  display: block;
  float: left;
  width: inherit;
}

.book-show {
  display: block;
  float: left;
  height: 200px;
  width: 600px;
}

.book-review-content {
  width: inherit;
}

.book-reviews {
  border-top: 1px solid;
  display: block;
  float: left;
  width: inherit;
}

.delete-review {
  float: right;
  margin: 10px;
  width: 56px;
}

.edit-review {
  float: right;
  margin: 10px;
  width: 56px;
}

.review-body {
  border-bottom: 1px solid;
  display: block;
  float: left;
  padding-bottom: 20px;
  width: 100%;
}

.review-content {
  width: inherit;
  border-bottom: 1px solid;
}

.review-title-header {
  height: 50px;
  width: inherit;
}

.reviews-header {
  background-color: #4582EC;
  width: inherit;
}

.reviews-header-text {
  display: block;
  float: left;
  margin: 5px;
}

.review-author {
  display: block;
  float: left;
}

.review-rating {
  display: block;
  float: left;
}

.review-title {
  display: block;
  float: left;
  margin-right: 20px;
}

.shelf-choice {
  display: block;
  float: left;
  height: 50px;
  width: inherit;
}

.shelf-delete {
  display: block;
  float: right;
}

#shelf_choice {
  display: block;
  float: left;
  margin-right: 15px;
  width: 175px;
}

.show-container {
  padding-top: 10px;
}

.show-image {
  display: block;
  float: left;
  height: 200px;
  width: 150px;
}

.show-info {
  display: block;
  float: left;
  height: 200px;
  width: 650px;
}

.show-rating {
  display: block;
  float: left;
  margin-top: 0px;
  width: inherit;
}

.show-title {
  display: block;
  float: left;
  margin: 0px;
  width: inherit;
  height: 77px;
  overflow: auto;
}

.show-author, .show-pages {
  display: block;
  float: left;
  margin-top: 8px;
  width: inherit;
}

.show-pages {
  display: block;
  float: left;
  margin-top: 0px;
  width: inherit;
}

.synopsis {
  display: block;
  float: left;
  margin-top: 10px;
  width: inherit;
}
