/* Book Show composite view */
blockquote {
  border-left: 5px solid #4582EC;
  padding: 0 22px;
}

.add-book {
  display: block;
  float: left;
}

.add-review {
  display: block;
  float: left;
  margin-top: 9px;
  width: 128px;
}

/* Alert for adding book to shelf */
.show-book-info .alert {
  height: 65px;
  left: 0;
  line-height: 38px;
  margin: 0 auto;
  max-width: 400px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 70px;
  z-index: 1000;
}

/* TODO: do not use this class */
/*
.bg-success {
  border-radius: 4px;
  display: block;
  float: left;
  height: 85px;
  padding: 20px;
  text-align: center;
  width: inherit;
}
*/

.book-info {
  display: block;
  float: left;
  width: inherit;
}

.book-show {
  display: block;
  float: left;
  height: 200px;
  width: 600px;
}

.book-reviews {
  border-top: 1px solid;
  display: block;
  float: left;
  width: inherit;
}

.review-body {
  border-bottom: 1px solid;
  display: block;
  float: left;
  padding-bottom: 20px;
  width: 100%;
}

.reviews-header {
  background-color: #4582EC;
}

.reviews-header-text {
  display: block;
  float: left;
  margin: 5px;
}

.review-content {
  border-bottom: 1px solid;
  button {
    margin: 10px 10px 0 10px;
    width: 56px;
    position: absolute;
  }
  button.delete-review {
    right: 0px;
  }
  button.edit-review {
    right: 62px;
  }
}

.shelf-choice {
  height: 36px;
}

.show-container {
  padding-top: 10px;
}

.show-image {
  text-align: center;
}