/* Book Show composite view */
.add-book {
  display: block;
  float: left;
}


.bg-success {
  float: left;
  display: block;
  height: 85px;
  border-radius: 4px;
  padding: 20px;
  width: inherit;
  text-align: center;
}

.book-info {
  display: block;
  float: left;
  width: inherit;
}

.book-show {
 display: block;
 float: left;
 height: 200px;
 width: 600px;
}

.book-review-content {
  width: inherit;
}

.add-review {
  display: block;
  float: left;
  margin-top: 9px;
}

.book-reviews {
 display: block;
 float: left;
 width: inherit;
 border-top: 1px solid;
}

.confirmation {
  margin-left: 12px;
  display: block;
  float: left;
}

.delete-review {
  float: right;
  margin: 10px;
  width: 56px;
}

.edit-review {
  float: right;
  margin: 10px;
  width: 56px;
}

.review-body {
 display: block;
 float: left;
 width: 100%;
 padding-bottom: 20px;
 border-bottom: 1px solid;
}

.review-content {
  width: inherit;
  border-bottom: 1px solid;
}

.review-title-header {
  height: 50px;
  width: inherit;
}

.reviews-header {
  width: inherit;
  background-color: #4582EC;
  // background-color: silver;
}

.reviews-header-text {
  margin: 5px;
  display: block;
  float: left;
}

.review-author {
  display: block;
  float: left;
}

.review-rating {
  display: block;
  float: left;
}

.review-title {
  display: block;
  float: left;
  margin-right: 20px;
}

.shelf-choice {
  display: block;
  float: left;
  width: inherit;
  height: 50px;
}

.shelf-delete {
  display: block;
  float: right;
}

#shelf_choice {
  display: block;
  float: left;
  width: 128px;
  margin-right: 15px;
}

.show-book-info {
 display: block;
 float: left;
 width: inherit;
}

.show-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.show-image {
 display: block;
 float: left;
 width: 150px;
 height: 200px;
}

.show-info {
  display: block;
  float:left;
  width: 650px;
 height: 200px;
}

.show-rating {
  display: block;
  float: left;
  margin-top: 0px;
  width: inherit;
}

.show-title {
  display: block;
  float: left;
  margin: 0px;
  width: inherit;
  height: 77px;
  overflow: auto;
}

.show-author, .show-pages {
 display: block;
 float: left;
 margin-top: 8px;
 width: inherit;
 }

.show-pages {
  display: block;
  float: left;
  margin-top: 0px;
  width: inherit;
}

.synopsis {
 display: block;
 margin-top: 10px;
 float: left;
 width: inherit;
}
