@import "bootstrap";

/* Book Show composite view */
blockquote {
  border-left: 5px solid #4582EC;
  padding: 0 22px;
}

.add-review {
  margin-top: 9px;
  width: 128px;
}

/* Alert for adding book to shelf */
.show-book-info .alert {
  height: 65px;
  left: 0;
  line-height: 38px;
  margin: 0 auto;
  max-width: 400px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 70px;
  z-index: 1000;
}

.book-info {
  .rateYo.jq-ry-container {
    padding: 0;
    margin-bottom: 5px;
  }
}

.book-show {
  height: 200px;
}

.book-reviews {
  border-top: 1px solid;
  width: inherit;
}

.review-body {
  border-bottom: 1px solid;
  padding-bottom: 20px;
  width: 100%;
}

.reviews-header {
  background-color: #4582EC;
}

.reviews-header-text {
  margin: 5px;
}

.review-content {
  border-bottom: 1px solid;

  button {
    margin: 10px 10px 0 10px;
    position: absolute;
    top: -7px;
  }

  button.delete-review {
    right: 0px;
  }

  button.edit-review {
    right: 62px;
  }
}

@include media-breakpoint-down(xs) {
  .review-content {
    .rateYo.jq-ry-container {
      padding: 0;
      margin-bottom: 5px;
    }

    .review-title {
      margin-bottom: 0;
      padding-top: 5px;
    }
  }
}

.shelf-choice {
  height: 36px;
}

.show-container {
  padding-top: 10px;
}

.show-image {
  text-align: center;
}
