@import "bootstrap";

/* Libarary composite view */
.add-shelf {
  margin-top: 20px;
}

.add-shelf .form-control.green:focus {
  border-color: green;
}

.add-shelf .form-control.yellow:focus {
  border-color: yellow;
}

.add-shelf .form-control.red:focus {
  border-color: red;
}

.library-header-container {
  border-bottom: 2px solid;
}

.library-header {
  display: block;
  float: left;
  margin: 0px;
}

/* Shelf book info table */
.book-shelf-row {
  vertical-align: top;
  a.row {
    color: black;
    text-decoration: none;
  }
  a.row:hover {
    background-color: rgba(158, 144, 144, 0.16);
  }
}

.remove-book {
  position: absolute;
  top: 10px;
  right: 10px;
}

.shelf-book-info {
  padding: 8px;
}

.shelf-book-title {
  width: 200px;
  padding-left: 12px;
}

.shelf-delete.btn-sm, .shelving-delete.btn-sm {
  border-radius: 12px;
  display: block;
  float: left;
  height: 24px;
  line-height: 13px;
  width: 24px;
}

.shelf-image {
  height: 110px;
  width: 77px;
  margin-bottom: 8px;
  padding: 10px;
}

@include media-breakpoint-up(md) {
  .shelf-index {
    border-right: 2px solid black;
  }
}

@include media-breakpoint-down(md) {
  .shelf-index {
    border-bottom: 2px solid black;
  }
}

.shelf-title {
  display: block;
  float: left;
  margin: 0px;
  padding: 2px;
  width: 150px;
}

.shelf-title-header {
  display: block;
  float: left;
  margin: 0px;
}

.shelf-title:hover {
  background-color: rgba(158, 144, 144, 0.16);
  cursor: pointer;
}

.shelf-validation {
  font-family: "Raleway";
  width: 160px;
  padding: 5px;
  text-align: center;
}

.shelf-validation.yellow {
  background-color: yellow;
}

.shelf-validation.red {
  background-color: red;
}
