/* Modal Search Bar Stlyes */

.modal_search {
  position: fixed;
  vertical-align: middle;
  width: 100%;
  top:  100px;
}

.search_field_container {
  background-color: #000000;
  padding: 10px;
  float: left;
  width: 100%;
}

.search_field {
  background-color: #4582EC;
  height: 135px;
  font-size: 5em;
  font-family: "Raleway";
  color: #000000;
  border: none;
  padding: 0px 20px 0px 20px;
  width: 100%;
}

.search_field:focus {
  outline: none;
}

.modal_search .close {
  display: block;
  float: right;
  color: #000000;
  font-size: 10em;
}
