/* Modal Search Bar Stlyes */

.modal_search {
  position: fixed;
  top:  250px;
  vertical-align: middle;
  width: 100%;
}

.search_field_container {
  background-color: #000000;
  float: left;
  height: 155px;
  padding: 10px;
  width: 100%;
}

.search_field {
  background-color: #4582EC;
  border: none;
  color: #000000;
  font-family: "Raleway";
  font-size: 5em;
  height: 135px;
  padding: 0 100px 0 20px;
  width: 100%;
}

.search_field:focus {
  outline: none;
}

.modal_search .close {
  background-color: transparent;
  color: #000000;
  font-size: 8em;
  height: 135px;
  opacity: 1;
  position: relative;
  text-shadow: none;
  top: -140px;
}

.modal_search .close:hover {
  background-color: transparent;
  color: #FFFFFF;
}
