/* newsfeed */
.feed-review-author {
  font-size: 1.2rem;
}

.feed-review-header h4 {
  font-size: 1.3rem;
  font-weight: bold;
}

.feed-review-rating,
.feed-review-title {
  font-weight: bold;
}

.feed-book-image {
  margin-bottom: 5px;
  width: 70px;
}

.feed-item {
  border-bottom: 2px solid black;
}

.newsfeed-header {
  border-bottom: 2px solid;
  font-weight: bold;
}
