/* newsfeed */
.feed-review-body, .feed-review-content, .feed-review-date,
.feed-review-info, .feed-book-image, .feed-review-rating,
.feed-review-title {
  display: block;
  float: left;
}

.feed-book-image {
  margin-bottom: 5px;
  width: 70px;
}

.feed-item {
  border-bottom: 2px solid;
  display: block;
  width: inherit;
}

.feed-items {
  font-weight: bold;
  margin: 0 auto;
  width: 960px;
}

.feed-review-content {
  width: 680px;
}

.feed-review-date {
  width: inherit;
}

.feed-review-header h4 {
  font-size: 1.3rem;
  font-weight: bold;
}

.feed-review-info {
  margin-left: 10px;
  width: 200px;
}

.feed-review-rating {
  margin-top: 0;
}

.feed-review-title {
  margin-top: 0;
  width: inherit;
}

.newsfeed-header {
  border-bottom: 2px solid;
  font-weight: bold;
}
