<div class="modal_search">
  <div class="search_field_container">
    <input type="text" class="search_field" placeholder="Search">
    <div class="close clear-search_field">
      &times;
    </div>
  </div>
</div>
