<div class="result-image col-5  col-md-3 col-lg-2">
  <img
    alt="Book Cover"
    height="195"
    src="{{= searchBook.escape('cover_image_url') }}"
    width="128"
  >
</div>
<div class="result-info col-7 col-md-9 col-lg-10">
  <h3 class="result-title">{{= searchBook.escape('title') }}</h3>
  <h4 class="result-author">{{= searchBook.escape('author') }}</h4>
<div>